*{
    background-color: #37474f;
}
header{
    text-align: center;
    color: white;
}
.title{
    color:#FFDB58
}
.value {
    color: white;
    padding-left: 10px;
}

.positive{
    background-color: #4682b4;
    border-radius:5px;
    padding:10px;
    margin-left:5px;
    margin-right: 5px;
}
.negative{
    background-color: #F08080;
    border-radius:5px;
    padding:10px;
    margin-left:5px;
    margin-right: 5px;
}
.new{
    background-color: red;
    border-radius:5px;
    padding:10px;
    margin-left:5px;
    margin-right: 5px;
}
.get-question{
    border-radius: 5px;
    padding:10px;
    background-color: #FFDB58;
    color: white;
}
.button{
    padding:10px 150px;
    background-color: navy;
    color: white;
}
.category{
    display:flex;
    justify-content: center;
    align-items: center;
}
.points{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score{
    display:flex
}
.score-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.answer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
